::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-track{
    border-radius: 20px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}

::-webkit-scrollbar-thumb{
    border-radius: 20px;
    /* background-color: color you want the scrollbar to be;  */
}